* {
  box-sizing: border-box;
}
.Card-container {
  height: 380px;
  width: 225px;
  border: 2px solid #aaa;
  box-shadow: 0 0 10px;
  border-radius: 10px;
  background-color: #fff;
  margin: 15px 30px;
}
.Card-container:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.Card-link {
  text-decoration: none;
}
.Card-img {
  height: 200px;
  width: 200px;
  box-sizing: content-box;
  border-radius: 15px;
  padding: 10px;
}
.Pais {
  display: flex;
  color: #000;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.Description {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  text-align: justify;
}

@media screen and (max-width: 450px) {
  .Card-container:hover {
    transform: initial;
  }
}
